## Super Linter GitHub Actions

name: Lint Code Base


# Start the job on push
on:
  push


# Set the Job
jobs:
  super-lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    # Load all steps
    steps:

      # Checkout the code base
      - name: Checkout Code
        uses: actions/checkout@v3

      # Run Linter against code base
      - name: Run Super-Linter
        uses: super-linter/super-linter@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_MARKDOWN: false
